body {
    font-family: Arial, sans-serif;
}

#messagesContainer {
    margin-top: 20px;
}

.ui.message {
    margin-bottom: 10px;
}

/* Style pour les toasts */
.toast {
    background-color: #21ba45; /* Vert par défaut */
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 14px;
    animation: fadeInOut 4s forwards;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast .icon {
    margin-right: 10px;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}
